In [8]:
import pandas as pd
import datetime as dt
data = pd.read_csv('D:/aiml/Fish.csv')
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream    23.2     25.4      NaN    11.52   4.0200     NaN
1     Bream    24.0     26.3     31.2    12.48   4.3056     NaN
2     Bream   340.0     23.9     26.5    31.10  12.3778  4.6961
3     Bream   363.0     26.3     29.0    33.50  12.7300  4.4555
4     Bream   430.0     26.5     29.0    34.00   0.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2    13.40   2.0904  1.3936
155   Smelt    13.4     11.7     12.4    13.50   2.4300  1.2690
156   Smelt    12.2     12.1     13.0    13.80   2.2770  1.2558
157   Smelt    19.7     13.2     14.3    15.20   2.8728  2.0672
158   Smelt    19.9     13.8     15.0    16.20   2.9322  1.8792

[159 rows x 7 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  158 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    153 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [10]:
data.isnull()

     Species  Weight  Length1  Length2  Length3  Height  Width
0      False   False    False     True    False   False   True
1      False   False    False    False    False   False   True
2      False   False    False    False    False   False  False
3      False   False    False    False    False   False  False
4      False   False    False    False    False   False  False
..       ...     ...      ...      ...      ...     ...    ...
154    False   False    False    False    False   False  False
155    False   False    False    False    False   False  False
156    False   False    False    False    False   False  False
157    False   False    False    False    False   False  False
158    False   False    False    False    False   False  False

[159 rows x 7 columns]

In [15]:
data.dropna()

    Species  Weight  Length1  Length2  Length3   Height   Width
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0   0.4440  5.1340
5     Bream   450.0     26.8     29.7     34.7  13.6024  4.9274
6     Bream   500.0     26.8     29.7     34.5  14.1795  5.2785
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[153 rows x 7 columns]

In [42]:
data.drop('',axis=1,inplace=True)

KeyError: '[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99] not found in axis'