In [3]:
import pandas as pd
import datetime as dt
data = pd.read_csv('D:/aiml/yield_df.csv')
data

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.00,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.00,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.00,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.00,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.00,16.37
...,...,...,...,...,...,...,...,...
28237,28237,Zimbabwe,"Rice, paddy",2013,22581,657.0,2550.07,19.76
28238,28238,Zimbabwe,Sorghum,2013,3066,657.0,2550.07,19.76
28239,28239,Zimbabwe,Soybeans,2013,13142,657.0,2550.07,19.76
28240,28240,Zimbabwe,Sweet potatoes,2013,22222,657.0,2550.07,19.76
28241,28241,Zimbabwe,Wheat,2013,22888,657.0,2550.07,19.76

In [4]:
print(data.shape)

(28242, 8)

In [5]:
print(data.columns)

Index(['Unnamed: 0', 'Area', 'Item', 'Year', 'hg/ha_yield',
       'average_rain_fall_mm_per_year', 'pesticides_tonnes', 'avg_temp'],
      dtype='object')

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28242 entries, 0 to 28241
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     28242 non-null  int64
 1   Area                           28242 non-null  object
 2   Item                           28242 non-null  object
 3   Year                           28242 non-null  int64
 4   hg/ha_yield                    28242 non-null  int64
 5   average_rain_fall_mm_per_year  28242 non-null  float64
 6   pesticides_tonnes              28242 non-null  float64
 7   avg_temp                       28242 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.7+ MB
None

In [7]:
data_df = data[["Area","Item", "Year", 
                                  "hg/ha_yield", "average_rain_fall_mm_per_year", "pesticides_tonnes", 
                                  "avg_temp"]]
data_df

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.00,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.00,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.00,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.00,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.00,16.37
...,...,...,...,...,...,...,...
28237,Zimbabwe,"Rice, paddy",2013,22581,657.0,2550.07,19.76
28238,Zimbabwe,Sorghum,2013,3066,657.0,2550.07,19.76
28239,Zimbabwe,Soybeans,2013,13142,657.0,2550.07,19.76
28240,Zimbabwe,Sweet potatoes,2013,22222,657.0,2550.07,19.76
28241,Zimbabwe,Wheat,2013,22888,657.0,2550.07,19.76

In [8]:
cat_features = ["Area","Item", "Year","hg/ha_yield", "average_rain_fall_mm_per_year", "pesticides_tonnes","avg_temp"]
data_df = pd.get_dummies(data_df,columns=cat_features)
print(data_df.columns)

Index(['Area_Albania', 'Area_Algeria', 'Area_Angola', 'Area_Argentina',
       'Area_Armenia', 'Area_Australia', 'Area_Austria', 'Area_Azerbaijan',
       'Area_Bahamas', 'Area_Bahrain',
       ...
       'avg_temp_29.78', 'avg_temp_29.8', 'avg_temp_29.85', 'avg_temp_29.96',
       'avg_temp_29.97', 'avg_temp_30.02', 'avg_temp_30.1', 'avg_temp_30.32',
       'avg_temp_30.42', 'avg_temp_30.65'],
      dtype='object', length=15252)

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(data_df[[["Area","Item", "Year", "pesticides_tonnes","avg_temp"]]]) 

data_normalized = scaler.transform.join(data_df[[["Area","Item", "Year", "pesticides_tonnes","avg_temp"]]])
data_normalized

KeyError: "None of [Index([('Area', 'Item', 'Year', 'pesticides_tonnes', 'avg_temp')], dtype='object')] are in the [columns]"

In [ ]:
data_df_normalized=pd.DataFrame(data_normalized,columns=["Area","Item", "Year", "pesticides_tonnes","avg_temp"])
data_df_normalized=data_df_normalized.join(data_df[data_df.columns.drop(["Area","Item", "Year", "pesticides_tonnes","avg_temp"])])
data_df_normalized

In [ ]:
Y = data_df_normalized['Area']
X = data_df_normalized[data_df_normalized.columns.drop('Area')]
print(X.shape)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=100)
X_train.shape , X_test.shape

In [ ]:

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,Y_train)

train_score=model.score(X_train,Y_train)
test_score=model.score(X_test,Y_test)
print('Train Score (R-Squared): ',train_score)
print('Test Score (R-Squared)',test_score)

In [ ]:
from sklearn.metrics import mean_squared_error

train_predictions = model.predict(X_train)
train_RMSE=mean_squared_error(Y_train,train_predictions)**0.5

test_predictions = model.predict(X_test)
test_RMSE=mean_squared_error(Y_test,test_predictions)**0.5
print('Train RMSE : ',train_RMSE)
print('Test RMSE : ',test_RMSE)